/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: #0CB04A;
}

.add-name-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 150px;
}

.add-name-button:focus {
  outline: none;
  box-shadow: none !important;
}

.main-card {
  border: 5px solid #0CB04A;
  box-shadow: 0 0 0 5px white;
  border-radius: 5px;
  z-index: 10;
}

.assignments {
  width: 200px;
  display: grid;
  grid-template-columns: 70px 40px 70px;
}
